pip install pytube youtube-transcript-api wordcloud matplotlib
from youtube_transcript_api import YouTubeTranscriptApi, TranscriptsDisabled, NoTranscriptFound
from wordcloud import WordCloud
import matplotlib.pyplot as plt
from pytube import YouTube
import re
